{% extends "layout.html" %}
{% block content %}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Movement</th>
            <th scope="col">Repetitions</th>
        </tr>
        </thead>
        <tbody>
        {% for movement in movements %}
        <tr>
            <td>{{ movement.name }}</td>
            {% for repetition in movement.repetitions %}
                <td> {{repetition.number}}</td>
            {% endfor %}
            <td>
                <form method="get" action="#">
                    <button class="btn btn-primary" type="submit">Add a Repetition</button>
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <form method="get" action="{{ url_for('home')}}">
        <button class="btn btn-primary" type="submit">Add a Movement</button>
    </form>

</div>
{% endblock content %}

