{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <ul class="list-group">
            {% for set in sets %}
                <li class="list-group-item"><a href="{{ url_for('movements', set_id=set.movement_set_id)}}">{{ set.set_name }}</a> </li>
            {% endfor %}
        </ul>

        <form method="get" action="/sets/add">
            <button class="btn btn-primary" type="submit">Create a New Set</button>
        </form>
    </div>
{% endblock content %}
